.card {
  width: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 32px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card span {
  color: #363F5F;
}

.card strong {
  font-size: 36px;
  font-weight: 400;
  color: #363F5F;
}

.total {
  background-color: #33CC95;
}

.total span,
.total strong {
  color: #ffffff;
}